$skeleton-bg: #fff !default;
$skeleton-color: #ced4da !default;
$skeleton-border-radius: 2px !default;

$skeleton-gutter: 30px !default;
$skeleton-spacer: 15px !default;

$skeleton-avatar-border-radius: 50% !default;

$skeleton-animation-duration: .8s !default;
